/*Element styles*/
body {
    font-family: monospace;
    margin: 0;
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    opacity: 1;
    font-size: 30px;
    color: #333;
}

/*Bit making*/
/*allow for top left img styles in this*/
.bit-container{
    display: flex;
    background-size: cover;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative; /* Position relative for absolute positioning of child */
}

/*Navbar*/
.navbar {
    opacity: 1;
    background-image: url("img/ms_word_borders/trees.png");
    color: #fff;
    padding: 10px;
    border-bottom: 5px solid #6ef75f; /* Funky color border */
    border-radius: 0 0 20px 20px; /* Rounded corners */
    box-shadow: 0 0 20px #50be97; /* Funky color shadow */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar li a {
    color: #fff;
    font-family: monospace;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a539d; /* Funky color background */
    border-radius: 5px; /* Square corners */
    font-size: 20px;
    transition: all 0.3s ease; /* Smooth transition */
}

.navbar li a:hover {
    transform: translateY(-2px); /* Move button up on hover */
    background-color: #414073; /* Funky color background */
}

/*Main body*/
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/ms_paint/bg1_2.png");
    opacity: 0.5;
    z-index: -1;
    background-size: cover;
}

.page-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
}

.main-content {
    margin-top: 50px;
    opacity: 1;
    margin: 20px auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

/*Side bars*/
.tab {
    height: 80vh; /* Set height to be larger than viewport */
    background-color: #f9f9f9;
    max-width: 800px;
    margin-top: 50px;
    overflow-y: auto;
    opacity: 1;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    background-color: #f9f9f9;
}

.tab-left {
    float: left;
    width: 300px;
    margin-left: 30px;
    margin-right: 20px;
    border: 5px solid #22e5f7; /* Funky color border */
    box-shadow: 0 0 20px #22adf7; /* Funky color shadow */
}

.tab-right {
    float: right;
    width: 300px;
    margin-right: 30px;
    margin-left: 20px;
    border: 5px solid #f79e22; /* Funky color border */
    box-shadow: 0 0 20px #f78222; /* Funky color shadow */
}

.tab-content {
    height: 80vh; /* Set height to be larger than viewport */
    background-color: #f9f9f9;
    max-width: 900px;
    margin-top: 50px;
    overflow: auto; /* Enable vertical scrolling */
    opacity: 1;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border: 5px solid #f722f7; /* Funky color border */
    border-radius: 20px; /* Rounded corners */
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.5); /* Funky color shadow */
}

.tab-content-blank {
    height: 80vh; /* Set height to be larger than viewport */
    max-width: 900px;
    margin-top: 50px;
    overflow: auto; /* Enable vertical scrolling */
    opacity: 1;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

/*Blockquote styles*/
.blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 0; /* Adjust margin as needed */
    padding: 0.5em 1em; /* Adjust padding as needed */
}

.blockquote p {
    margin: 0; /* Remove default paragraph margins */
}

.author {
    font-style: italic;
    text-align: right;
    margin-top: 0.5em; /* Adjust top margin for author attribution */
}